input,
label {
  font-size: 100%;
  font-family: inherit;
  box-sizing: border-box;
  width: 150px;
}

.input-wrapper {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

label {
  width: 100px;
  text-align: end;
}

input {
  border: 1px solid black;
  border-radius: 4px;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

input:focus {
  outline: none;
  border-color: black;
}

input:placeholder-shown {
  border-color: black;
}

input:read-only {
  border: none;
  border-radius: 0%;
}
